<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <app-root></app-root>
    <script src="a.js" defer></script>
<script src="b.js" nomodule defer></script>
  </body>
</html>
